<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd ">
    
    
    <context:component-scan base-package="com.xworkz.proj"></context:component-scan>
    <mvc:annotation-driven/> 
	
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	<bean id="ds"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.cj.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/xworkz"></property>
		<property name="username" value="root"></property>
		<property name="password" value="root"></property>
	</bean>
    <bean id="lsfb"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<!-- <property name="configLocations" value="classpath:/resource/datasource.xml"></property> -->
		<property name="dataSource" ref="ds"></property>

		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">create</prop>

			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>com.xworkz.proj.entity.waterTankEntity</value>
			</list>

		</property>


	</bean>


	<bean id="dao" class="com.xworkz.proj.dao.impl.WaterTankDaoImpl">
		<property name="factory" ref="lsfb"></property>

	</bean>
    
</beans>